<div class="container">

    <div class="row">
    
    <div class="col-md-12"  class="mx-auto" style="width: 60px;" >
        <img src="../../../assets/avatar.png" alt="">
    </div>
    
    <div class="col-md-12">
        <h1 class="text-center">Mi asistencia</h1> 
    </div>
    
    <div class="col-md-12">
        <h2 class="text-center">ID:10000101</h2>
    </div>
        
    <div class="col-md-12">
        <h3 class="text-center">Nombre: Juanes</h3>
    </div>    
        
        
    </div>
    
    
    
   
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clase</th>
            <th scope="col">Horario</th>
            <th scope="col">Asistencias</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">1</th>
            <td>Programación II</td>
            <td>Lunes de 15:00pm - 16:00pm</td>
            <td>08/10</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Programación II</td>
            <td>Lunes de 15:00pm - 16:00pm</td>
            <td>08/10</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Programación II</td>
            <td>Lunes de 15:00pm - 16:00pm</td>
            <td>08/10</td>
          </tr>
        </tbody>
      </table>
      <div class="mx-auto" style="width: 200px;">
          <button type="button" class="btn btn-primary btn-lg" routerLink="/hubAlumno">Atras</button>
        </div>

</div>