<div class="container">
    <div class="jumbotron mt-3">
        <div class="row">

            <div class="col-md-12" class="mx-auto" style="width: 60px;">
                <img src="../../../assets/avatar.png" alt="">
            </div>

            <div class="col-md-12">
                <h1 class="text-center">Inicio {{tipo}}</h1>
            </div>

            <div class="col-md-12">
                <h2 class="text-center"> ID: {{id}} </h2>
            </div>

            <div class="col-md-12">
                <h3 class="text-center">Nombre: {{nombre}}</h3>
            </div>


        </div>

        <div class="div-row" class="mx-auto" style="width: 400px;">
            <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12"
                routerLink="/Gasistencias">Gestion de asistencia</button>
            <button type="button" class="btn btn-primary mt-2 btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12"
                routerLink="/reportes">Generar reporte</button>
            
           
                <button type="button"class="  btn-success btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12 mt-1 text-white " routerLink="/paseLista">Pase de Lista</button>
                <button type="button" class="mt-2 btn btn-secondary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12"
                    routerLink="/login">Atras</button>
            
        </div>
    </div>
</div>