<div class="container">

        <div class="row">
        
        <div class="col-md-12"  class="mx-auto" style="width: 60px;" >
            <img src="../../../assets/avatar.png" alt="">
        </div>
        
        <div class="col-md-12">
            <h1 class="text-center">Mi asistencia</h1> 
        </div>
        
        <div class="col-md-12">
            <h2 class="text-center">ID:10000101</h2>
        </div>
            
        <div class="col-md-12">
            <h3 class="text-center">Nombre: Juanes</h3>
        </div>    
            
            
        </div>
        
        
        
       
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center" >
                <th class="bg-danger" scope="col">Lunes</th>
                <th class="bg-danger" scope="col">Martes</th>
                <th class="bg-danger" scope="col">Miercoles</th>
                <th class="bg-danger" scope="col">Jueves</th>
                <th class="bg-danger" scope="col">Viernes</th>
                <th class="bg-danger" scope="col">Sabado</th>
                <th class="bg-danger" scope="col">Domingo</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>1 <img src="../../assets/checked.png" alt=""></td>
                <td>2 <img src="../../assets/checked.png" alt=""></td>
                <td>3 <img src="../../assets/checked.png" alt=""></td>
                <td>4 <img src="../../assets/checked.png" alt=""></td>
                <td>5 <img src="../../assets/checked.png" alt=""></td>
                <td>6</td>
                <td>7</td>
                
              </tr>
              <tr class="text-center">
                <td>8 <img src="../../assets/checked.png" alt=""></td>
                <td>9 <img src="../../assets/checked.png" alt=""></td>
                <td>10 <img src="../../assets/checked.png" alt=""></td>
                <td>11 <img src="../../assets/cancel.png" alt=""></td>
                <td>12 <img src="../../assets/cancel.png" alt=""></td>
                <td>13</td>
                <td>14</td>
              </tr>
              <tr class="text-center">
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
              </tr>
            </tbody>
          </table>
          <div class="mx-auto" style="width: 200px;">
              <button type="button" class="btn btn-primary btn-lg">Atras</button>
            </div>
    
    </div>