<div class="container">

        <div class="row">
        
        <div class="col-md-12"  class="mx-auto" style="width: 140px;" >
            <img src="../../../assets/newspaper.png" alt=""> <img src="../../../assets/calendar.png" alt="">
        </div>
        
        <div class="col-md-12">
            <h1 class="text-center">Generar Reportes - Día</h1> 
        </div>
        
        <div class="col-md-12">
            <h2 class="text-center">ID:10000101</h2>
        </div>
            
        <div class="col-md-12">
            <h3 class="text-center">Nombre: Gilberto</h3>
        </div>    
            
            
        </div>
        
        
        
       
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Día</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>11 de Junio de 2019</td>
              </tr>
              <tr class="text-center">
                    <td>11 de Junio de 2019</td>
              </tr >
              <tr class="text-center">
                    <td>11 de Junio de 2019</td>
              </tr>
            </tbody>
          </table>
          <div class="mx-auto" style="width: 200px;">
              <button type="button" class="btn btn-primary btn-lg">Atras</button>
            </div>

    </div>
