<div class="container">

        <div class="row">
        
        <div class="col-md-12"  class="mx-auto" style="width: 60px;" >
            <img src="../../../assets/newspaper.png" alt="">
        </div>
        
        <div class="col-md-12">
            <h1 class="text-center">Generar Reportes</h1> 
        </div>
        
        <div class="col-md-12">
            <h2 class="text-center">ID:10000101</h2>
        </div>
            
        <div class="col-md-12">
            <h3 class="text-center">Nombre: Gilberto</h3>
        </div>    
            
            
        </div>
        
        
        <div class="row">
        <div classs="col-xs-3" class="col-sm-12 " class="col-md-12 " class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Clase</th>
                <th scope="col">Reporte por día</th>
                <th scope="col">Reporte por alumno</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>Programación II</td>
                <td><button type="button" class="btn btn-secondary"routerLink="/reportesDia">VER</button></td>
                <td><button type="button" class="btn btn-secondary"routerLink="/reporteAlum">VER</button></td>
              </tr>
              <tr class="text-center">
                    <td>Programación II</td>
                    <td><button type="button" class="btn btn-secondary"routerLink="/reportesDia">VER</button></td>
                    <td><button type="button" class="btn btn-secondary"routerLink="/reporteAlum">VER</button></td>
              </tr >
              <tr class="text-center">
                    <td>Programación II</td>
                    <td><button type="button" class="btn btn-secondary"routerLink="/reportesDia">VER</button></td>
                    <td><button type="button" class="btn btn-secondary"routerLink="/reporteAlum">VER</button></td>
              </tr>
            </tbody>
          </table>
          <div class="mx-auto" style="width: 200px;">
              <button type="button" class="btn btn-primary btn-lg"routerLink="/hubMaestro">Atras</button>
            </div>

    </div>
  </div>
  </div>