<div class="container">

        <div class="row">
        
        <div class="col-md-3"  class="mx-auto" style="width:120px;" >
            <img src="../../../assets/newspaper.png" alt=""><img src="../../../assets/avatar.png" alt="">
        </div>
        
        <div class="col-md-12">
            <h1 class="text-center">Generar Reportes - Alumno</h1> 
        </div>
        
        <div class="col-md-12">
            <h2 class="text-center">ID:10000101</h2>
        </div>
            
        <div class="col-md-12">
            <h3 class="text-center">Nombre: Gilberto</h3>
        </div>    
            
            
        </div>
        
        
        <div class="row">
          
          <div classs="col-xs-3" class="col-sm-12 " class="col-md-12 " class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Alumno</th>
                <th scope="col">Asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>Juanes</td>
                <td><img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt="">
                    <img src="../../assets/cancel.png" alt="">
                    <img src="../../assets/cancel.png" alt=""> 
                </td>
              </tr>
              <tr class="text-center">
                    <td>Juanes</td>
                <td><img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt="">
                    <img src="../../assets/cancel.png" alt="">
                    <img src="../../assets/cancel.png" alt=""> 
                </td>
              </tr >
              <tr class="text-center">
                    <td>Juanes</td>
                <td><img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt=""> 
                    <img src="../../assets/checked.png" alt="">
                    <img src="../../assets/cancel.png" alt="">
                    <img src="../../assets/cancel.png" alt=""> 
                </td>
              </tr>
            </tbody>
          </table>
         <div class="mx-auto" style="width: 200px;">
            
          <button type="button" class="btn btn-primary btn-lg"routerLink="/reportes">Atras</button>
         
         </div>
        </div>  
        </div>     

    </div>