<div class="container">
    
    <div class="col-md-12">
        <h1 class="text-center">Pase de lista</h1> 
    </div> 
        <div class="col-md-12 mx-auto">

            <header class="imagenCodigo text-center mx-auto" >
                <div class="background-overlay text-white py-5 ">
                  <div class="row h-100 text-center container mx-auto">
                      <div class="text-center justify-content-center align-self-center mx-auto">
                        
                            <h1>Clase: {{claseIniciada.clase.nombre}} </h1>
                            <h2>Código: {{claseIniciada.codigo}} </h2>
                        
                      </div>
                    </div>
                  </div>
              </header>
        </div>
    
    <div class="div-row" class="div-t" class="mx-auto" style="width: 400px;">
        <select [(ngModel)]="clase" class="custom-select mr-sm-2 " id="inlineFormCustomSelect"
                    class="btn btn-light border rounded border-dark btn-lg mt-2 col-xs-3 col-sm-12 col-md-12 col-lg-12">
                    <option selected>Elija una clase</option>
                    <option value="1" *ngFor="let clase of clases" [ngValue]="clase" >{{clase.nombre}}</option>
                    
                </select>
                <button type="button"class="  btn-success btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12 mt-1 text-white " (click)="saveClase()">Iniciar</button>
                <div *ngFor="let asistencia of claseIniciada.alumnos">
                <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">{{asistencia.nombre}}</h3>
                </div>
        <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12">Añadir alumno</button>
        <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12" routerLink="/hubMaestro">Atrás</button>
        
        
    </div>
 
 
</div>
