<div class="container">
    
    <div class="col-md-12">
        <h1 class="text-center">Pase de lista</h1> 
    </div> 
 
 
    <div class="div-row" class="div-t" class="mx-auto" style="width: 400px;">
        <h1 class="code" class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">D3PR351ON</h1>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">Aaron Juanes</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">julian Juanes</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">luis lopez</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">luis mungarro</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">Junnior hernandez</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">un wey más</h3>
        <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12">Añadir alumno</button>
        
        
    </div>
 
 
</div>
