<div class="container">
    
    <div class="col-md-12">
        <h1 class="text-center">Pase de lista</h1> 
    </div> 
        <div class="col-md-12 mx-auto">

            <header class="imagenCodigo text-center mx-auto" >
                <div class="background-overlay text-white py-5 ">
                  <div class="row h-100 text-center container mx-auto">
                      <div class="text-center justify-content-center align-self-center mx-auto">
                        
                            <h1>CODIGO</h1>
                        
                        
                      </div>
                    </div>
                  </div>
              </header>
        </div>
    
    <div class="div-row" class="div-t" class="mx-auto" style="width: 400px;">
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">Aaron Juanes</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">julian Juanes</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">luis lopez</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">luis mungarro</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">Junnior hernandez</h3>
        <h3 class=" col-xs-3 col-sm-12 col-md-12 col-lg-12">un wey más</h3>
        <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12">Añadir alumno</button>
        <button type="button" class="btn btn-primary btn-lg col-xs-3 col-sm-12 col-md-12 col-lg-12" routerLink="/hubMaestro">Atrás</button>
        
        
    </div>
 
 
</div>
