img{
    height: 60px;
}

.imagenCodigo{
   background-image: url("src\assets\Maestro.jpeg") ;
   height: 44vh;
   width: 67vh;
   background-size: cover;
}

.header-main{
    background-image: url("http://www.laspositascollege.edu/gv/pdc/assets/images/conference.jpg");
    margin: 0;
  }
  
  .background-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }