<div class="container">
 
    <div class="row">
    
    <div class="col-md-12"  class="mx-auto" style="width: 60px;" >
        <img src="../../../assets/avatar.png" alt="">
    </div>
    
    <div class="col-md-12">
        <h1 class="text-center">Registrar Asistencia</h1> 
    </div>
    
    <div class="col-md-12">
        <h2 class="text-center">ID:10000101</h2>
    </div>
        
    <div class="col-md-12">
        <h3 class="text-center">Nombre: Juanes</h3>
    </div>    
        
        
    </div>
    
    
    
   
    <table class="table" class="col-xs-3 col-sm-12 col-md-12 col-lg-12">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Proxima clase: </th>
            <th scope="col">Metodologias agiles</th>
            <th scope="col">martes de 11:30 a 1:00 pm</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">Clase en curso</th>
            <td>Aplicaciones web</td>
            <td>
                <input type="code" class="form-control" id="e3j3" aria-describedby="emailHelp" placeholder="Ingrese codigo de clase">
            </td>
            <td><button type="button" class="btn btn-primary btn-lg">iniciar</button></td>
          </tr>
          </table>
        <div class="mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-primary btn-lg">Atras</button>
        </div>
</div>
